<table>

   <tbody>
      {{#if keyword.hits.length}}
      <tr>
         <td class="keyword hide-tiny">{{> keyword}}</td>
         <td class="brand hide-small hide-tiny">{{> brand}}</td>
         <td class="recommended">{{> recommended}}</td>
      </tr>
      <tr>
         <td class="column-label hide-tiny"><hr>Matching Categories</td>
         <td class="column-label hide-small hide-tiny"><hr>Matching Brands</td>
         <td class="column-label"><hr>Recommendations</td>
      </tr>
      {{/if}}
   </tbody>

</table>
